<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MeHC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <style>
        .options{
            color:aliceblue;
        }
        .options:hover{
            color:black;
        }
    </style>
</head>    
    <body style="background-color:#5ba9c6;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(22, 187, 121);">
            <a class="navbar-brand" href="#"><p style="color: aliceblue;"><b>MeHC</b></p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}"><p class="options">Home</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('hmap') }}"><p class="options">Hospitals Near You</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mquery') }}"><p class="options">Medical Queries</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pconv') }}"><p class="options">Previous Queries</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mental Health Chatbot</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('status') }}"><p class="options">Your Status</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout')}}"><p class="options">Logout</p></a>
                </li>
            </ul>
            </div>
        </nav>
        <br>
        <br>
        <div align = 'center' style="padding-left: 20%; padding-right: 20%;padding-top: 5%;text-align: center;">
            <table class="table">
            <thead>
            <tr style="background-color: beige;">
            <th scope="col" style="border-radius: 10px 10px 10px 10px;">
                <h4 style="top:30% ;color: rgb(22, 187, 121);"><u>MeHC Chatbot</u></h4>
                {% if response %}
                    <div align="center" style="top: 30%"><p id="typing-text"></p></div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var response = "{{ response }}";
                            var typed = new Typed("#typing-text", {
                                strings: [response],
                                typeSpeed: 7,
                                showCursor: false
                            });
                        });
                    </script>
                {% else %}
                    <div align = 'center' style="top: 30%"><p id="initialize">Hi! I am ready to talk to you (^ ^)!</p></div>
                {% endif %}
                <div align = "center">
                    <table>
                        <tr>
                            <form action = "/Chatbot" method = "POST">
                                <td>
                                    <div class = "prompt-form">
                                        <input type = "text" class="form-control form-rounded" name = "prompt" id = "prompt" placeholder="Enter Message">
                                    </div>
                                </td>
                                <td>
                                    <div class = "prompt-form">
                                        <button type="submit" class="btn btn-primary" style="background-color: rgb(96, 211, 211);">Chat</button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>
            </th>
            </tr>
            </thead>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>